desktop/public/workflows/cost_tracker_workflow.json
{
  "name": "AI Cost Fallback Router",
  "nodes": [
    {
      "parameters": {
        "path": "cost-alert",
        "options": {}
      },
      "id": "node-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 200]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.body.total_cost }}",
              "operation": "larger",
              "value2": 10
            }
          ]
        }
      },
      "id": "node-2",
      "name": "Check Daily Limit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [300, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/setup/provider/active",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "provider",
              "value": "ollama"
            }
          ]
        },
        "options": {}
      },
      "id": "node-3",
      "name": "Switch to Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 100]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Daily Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Daily Limit": {
      "main": [
        [
          {
            "node": "Switch to Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
